
.knop1{
    background-color: bisque;
    color: darkblue;
}

.knop2{
    background-color: lightskyblue;
}

.knop3{
    background-color: palevioletred;
}

.knop4{
    background-color: greenyellow;
    color: darkblue;
}