#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin: 0;
}

h2 {
  background-color: aqua;
}

.vetgedrukt{
  font-size:30px;
}

.button1 {
  background-color: bisque;
  padding: 2rem;
  margin: 2rem;
}

.button2 {
  background-color: lightblue;
  padding: 2rem;
  margin: 2rem;
}

.button3 {
  background-color: lightgreen;
  padding: 2rem;
  margin: 2rem;
}